<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Lista de alunos</h3>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>RU</th>
        <th>Curso</th>
        <th>Data Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor=" let fatura of lista_faturas">
        <tr *ngIf="fatura.dt_pgto!=''">
          <td>{{ fatura.empresa }} </td>
          <td> <span style="color: blue">{{ fatura.valor }}</span> </td>
          <td>{{ fatura.dt_vencto }} </td>
          <td>{{ fatura.dt_pgto }} </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</body>

</html>
<router-outlet></router-outlet>